[submodule "lib/DotNetCoreFacebookMessenger"]
	path = lib/DotNetCoreFacebookMessenger
	url = git@github.com:chrispaynter/DotNetCoreFacebookMessenger.git
[submodule "lib/DotNetCoreWitAi"]
	path = lib/DotNetCoreWitAi
	url = git@github.com:chrispaynter/DotNetCoreWitAi.git
[submodule "lib/DotNetCoreHarvest"]
	path = lib/DotNetCoreHarvest
	url = git@github.com:chrispaynter/DotNetCoreHarvest.git
[submodule "lib/DotNetCoreApiAi"]
	path = lib/DotNetCoreApiAi
	url = git@github.com:chrispaynter/DotNetCoreApiAi.git
